.desktop-1-child {
  position: absolute;
  height: calc(100% - 865px);
  top: 865px;
  bottom: 0;
  left: 0;
  max-height: 100%;
  width: 529px;
}
.desktop-1-item {
  position: absolute;
  height: calc(100% - 867px);
  top: 0;
  right: 0;
  bottom: 867px;
  max-height: 100%;
  width: 517px;
}
.desktop-1-inner {
  position: absolute;
  width: calc(100% + 301px);
  top: -276px;
  right: -141px;
  left: -160px;
  background-color: rgba(31, 7, 54, 0.66);
  filter: blur(431px);
  height: 435px;
}
.peertutorhub1-1-icon {
  position: absolute;
  top: 22px;
  left: calc(50% - 580px);
  width: 179px;
  height: 95px;
  object-fit: cover;
}
.rectangle-button {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  left: calc(50% + 173px);
  width: 94px;
}
.desktop-1-child1,
.rectangle-a,
.rectangle-button {
  position: absolute;
  top: 50px;
  border-radius: var(--br-smi);
  background: linear-gradient(180deg, #115d88, #89a9bc);
  height: 33px;
}
.rectangle-a {
  text-decoration: none;
  left: calc(50% + 312px);
  width: 122px;
}
.desktop-1-child1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  left: calc(50% + 467px);
  width: 120px;
}
.about,
.contact,
.sign-in {
  margin: 0;
  position: absolute;
  top: 50px;
  left: calc(50% + 120px);
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  width: 200px;
  height: 80px;
}
.contact,
.sign-in {
  left: calc(50% + 273px);
}
.contact {
  left: calc(50% + 427px);
}
.desktop-1-child2,
.desktop-1-child3,
.rectangle-div {
  position: absolute;
  top: 811px;
  left: calc(50% - 580px);
  border-radius: var(--br-23xl);
  background-color: var(--color-gainsboro);
  width: 360px;
  height: 467px;
}
.desktop-1-child2,
.desktop-1-child3 {
  left: calc(50% - 180px);
}
.desktop-1-child3 {
  left: calc(50% + 220px);
}
.rundown,
.the-peer-tutoring {
  position: absolute;
  font-style: italic;
}
.rundown {
  margin: 0;
  top: 263px;
  left: calc(50% - 522px);
  font-size: 80px;
  font-weight: 100;
  font-family: inherit;
}
.the-peer-tutoring {
  top: 384px;
  left: calc(50% - 480px);
  font-size: 30px;
  display: flex;
  font-weight: 500;
  font-family: var(--font-josefin-sans);
  color: rgba(224, 98, 173, 0.9);
  text-align: justify;
  align-items: flex-end;
  width: 1000px;
  height: 252px;
}
.colaborative {
  margin: 0;
}
.colaborative-learning {
  position: absolute;
  top: 1199px;
  left: calc(50% + 279px);
  font-size: var(--font-size-lg);
  letter-spacing: 0.3em;
  font-weight: 600;
  color: var(--color-black);
  text-align: justify;
}
.real-time-interaction-txt-container {
  line-break: anywhere;
  width: 100%;
}
.connect-with-peers-container,
.real-time-interaction {
  position: absolute;
  top: 1202px;
  left: calc(50% - 120px);
  font-size: var(--font-size-lg);
  letter-spacing: 0.3em;
  font-weight: 600;
  color: var(--color-black);
  text-align: justify;
  display: flex;
  align-items: flex-end;
  width: 183px;
  height: 41px;
}
.connect-with-peers-container {
  top: 1199px;
  left: calc(50% - 520px);
  width: 206px;
  height: 44px;
}
.desktop-1-child4,
.desktop-1-child5,
.line-div {
  position: absolute;
  top: 1161.5px;
  left: calc(50% - 580.5px);
  border-top: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 361.05px;
  height: 1px;
}
.desktop-1-child4,
.desktop-1-child5 {
  left: calc(50% - 180.47px);
}
.desktop-1-child5 {
  left: calc(50% + 219.53px);
}
.pic1-1-icon,
.pic2-1-icon,
.pic4-1-icon {
  position: absolute;
  top: 811px;
  left: calc(50% - 580px);
  border-radius: var(--br-23xl) var(--br-23xl) 0 0;
  width: 360px;
  height: 351px;
  object-fit: cover;
}
.pic1-1-icon,
.pic2-1-icon {
  left: calc(50% - 180px);
}
.pic2-1-icon {
  left: calc(50% + 220px);
}
.contact1,
.for-any-query {
  position: absolute;
  font-style: italic;
  font-weight: 500;
  font-family: var(--font-josefin-sans);
}
.for-any-query {
  top: 1532px;
  left: calc(50% - 377px);
  font-size: 40px;
  display: flex;
  color: #e062ad;
  text-align: right;
  align-items: flex-end;
  width: 885px;
  height: 92px;
}
.contact1 {
  margin: 0;
  top: 1435px;
  left: calc(50% - 520px);
  font-size: 97px;
  text-align: justify;
}
.desktop-1-child6 {
  position: absolute;
  bottom: 17px;
  left: calc(50% - 280px);
  border-radius: 30px;
  background: conic-gradient(
    from 268.64deg at 50% 50%,
    #2991b2 -152.6deg,
    #7a0f7c 6.8deg,
    #2991b2 207.4deg,
    #7a0f7c 366.8deg
  );
  filter: blur(0);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 560px;
  height: 17px;
}
.desktop-1 {
  position: relative;
  background-color: #07010d;
  width: 100%;
  height: 1815px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-8xl);
  color: var(--color-white);
  font-family: var(--font-inter);
}
